---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Hello, I’m Akhilesh Yadav, Machine Learning student at IISc.'},
                    {type: '<br>'},
                    {type: 'I build machine learning model and blog. '},
                    {type: '<br>'},
                    {type: 'Welcome to my blog !'},
                    {remove: {num: 12, type: 'stepped'}},
                    {select: {from: 11, to: 19}},
                    {delay: 2000},
                    {remove: {num: 51, type: 'stepped'}},
                    {type: 'I build machine learning model and blog.'},
                    {type: '<br>'},
                    {delay: 500},
                    {type: 'Stay updated by subscribing to our Newsletter :D'}
                ]
            });
        });
    </script>



<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead" id="typewriteText"></p>
  </div>
</div>
<div class="col-lg-8 offset-md-2">

  </div>
